<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
		point="org.eclipse.ui.views">
		<category
			id="com.osp.ide"
			name="bada">
		</category>		
      <view
            category="com.osp.ide"
            class="com.osp.ide.resource.resourceexplorer.ResourceExplorer"
            icon="icons/resourcexplorer.png"
            id="com.osp.ide.resource.resourceexplorer.ResourceExplorer"
            name="Resource Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.osp.ide.resource.editform.OspFormEditor"
            contributorClass="com.osp.ide.resource.editform.OspFormEditorActionBarContributor"
            default="false"
            icon="icons/frame.png"
            id="com.osp.ide.resource.editor.frame.OspFormEditor"
            name="badaFormEditor">
      </editor>
      <editor
            class="com.osp.ide.resource.string.OspStringEditor"
            default="false"
            icon="icons/string_Sub.png"
            id="com.osp.ide.resource.editor.string.OspStrEditor"
            name="badaStringEditor">
      </editor>
      <editor
            class="com.osp.ide.resource.resourceexplorer.FormOpenEditor"
            default="true"
            icon="icons/frame.png"
            id="com.osp.ide.resource.resourceexplorer.FormOpenEditor"
            name="Form Editor">
         <contentTypeBinding
               contentTypeId="com.osp.ide.resource.scene.content-type">
         </contentTypeBinding>
      </editor>
      <editor
            class="com.osp.ide.resource.resourceexplorer.StringOpenEditor"
            default="true"
            icon="icons/string_Sub.png"
            id="com.osp.ide.resource.resourceexplorer.StringOpenEditor"
            name="String Editor">
         <contentTypeBinding
               contentTypeId="com.osp.ide.resource.string.content-type">
         </contentTypeBinding>
      </editor>
      <editor
            class="com.osp.ide.resource.editpanel.OspPanelEditor"
            contributorClass="com.osp.ide.resource.editpanel.OspPanelEditorActionBarContributor"
            default="false"
            icon="icons/panel.png"
            id="com.osp.ide.resource.editor.panel.OspPanelEditor"
            name="badaPanelEditor">
      </editor>
      <editor
            class="com.osp.ide.resource.editpopup.OspPopupEditor"
            contributorClass="com.osp.ide.resource.editpopup.OspPopupEditorActionBarContributor"
            default="false"
            icon="icons/popup.png"
            id="com.osp.ide.resource.editor.popup.OspPopupEditor"
            name="badaPopupEditor">
      </editor>
      <editor
            class="com.osp.ide.resource.resourceexplorer.PopupOpenEditor"
            default="true"
            icon="icons/popup.png"
            id="com.osp.ide.resource.resourceexplorer.PopupOpenEditor"
            name="Popup Editor">
         <contentTypeBinding
               contentTypeId="com.osp.ide.resource.popup.content-type">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="com.osp.ide.newWizardCategory"
            class="com.osp.ide.resource.resourceexplorer.OspCreateResourceWizard"
            hasPages="true"
            icon="icons/newcc_app.png"
            id="com.osp.ide.resource.resourceexplorer.newOspCreateResourceWizard"
            name="bada Resource files"
            project="true">
      </wizard>
      <primaryWizard
            id="com.osp.ide.resource.resourceexplorer.newOspCreateResourceWizard">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            associatedExtensionId="org.eclipse.cdt.ui.navigator.content"
            menuGroupId="org.eclipse.cdt.ui.newProject"
            type="new"
            wizardId="com.osp.ide.resource.resourceexplorer.newOspCreateResourceWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="com.osp.ide.resource.scene.content-type"
            name="scene file"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="Scene">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="com.osp.ide.resource.popup.content-type"
            name="popup file"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="ScenePopup">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="com.osp.ide.resource.string.content-type"
            name="string file"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="string_table">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.osp.ide.resource.viewContribution1"
            targetID="com.osp.ide.resource.resourceexplorer.ResourceExplorer">
         <action
               class="com.osp.ide.resource.resourceexplorer.DelegateLanguageSetting"
               icon="icons/string.png"
               id="com.osp.ide.resource.resourceexplorer.language"
               label="Language Setting"
               menubarPath="com.osp.ide.resource.resourceexplorer.menu"
               style="push"
               toolbarPath="com.osp.ide.resource.resourceexplorer.menu"
               tooltip="Language Setting">
         </action>
         <action
               class="com.osp.ide.resource.resourceexplorer.DelegatePreview"
               icon="icons/frame.png"
               id="com.osp.ide.resource.resourceexplorer.preview"
               label="Preview"
               style="push"
               tooltip="Preview">
         </action>
         <menu
               id="com.osp.ide.resource.resourceexplorer.menu"
               label="ResourceExplorer"
               path="additions">
         </menu>
      </viewContribution>
   </extension>

</plugin>
